*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*секция content*/
.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 1140px;
  gap: 16px;
}

/*секция result*/
.result__video-container {
  display: flex;
  margin-bottom: 16px;
  position: relative;
  height: 386px;
}

.result__video {
  object-fit: cover;
}

/*секция search-form*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  line-height: 22px;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
  
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

/*стилизация поле ввода*/
.search-form__label input[type="text"] {
  margin-top: 5px;
  padding: 0px;
  gap: 10px;
  width: 225px;
  height: 27px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #1B1919;
  appearance: none;
}

.search-form__label input[type="text"]:focus {
  outline: none;
}

.search-form__label input[type="text"]:has(:focus-visible) {/*TODO фокус вообще пропал и не появлятся в focus-visible*/
  outline: 2px solid #FFFFFF;
}

.search-form__label::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/*стилизация чекбоксов*/
.search-form__pseudo-checkbox {
  border: 1px solid #FFFFFF;
  padding: 1px;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  opacity: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.search-form__label input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
opacity: 1;
}

.search-form__checkbox-list :hover {
  text-decoration: underline;
}


.search-form__label input[type="checkbox"]:focus {
  outline: none;
}

.search-form__label input[type="checkbox"]:has(:focus-visible) {
  outline: 2px solid #FFFFFF;
}

/*стилизация кнопки */
.button {
  border: 1px solid #FFFFFF;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 2px solid #FFFFFF;
}

/*секция content__details*/
.content__details {
  width: 100%;
  height: 100%;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  height: 300px;
  gap: 30px;
}

.title {
  margin-bottom: 26px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  color: #FFFFFF;
}

.content__accent {
  color: #545050;
}

/*теймпл контент видео карточка*/
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  object-fit: cover;
  object-position: right;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  line-clamp: 1;
}

.content__video-card-description {
  line-height: 16px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-clamp: 1;
}

/*скрытие*/
.visually-hidden {
  overflow: hidden;
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

/*выбранная карточка*/
.content__card-link_current {
  background-color: #545050;
}
/*написанно добавить выбранной карточке цвет но не особо понято какой и на макеете 
в дефолтном состоянии тоже не видно что бы ывбранная карточка выделялась*/

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #FFFFFF;
}

.content__list-item {
  padding: 0 3px;
}